body{
    background-color: darkgrey;
}
p{  
    color: brown;
}
h1{
    color: white;
    font-weight: 700px;
}

.main_render{
    position: absolute;
    left: 35%;
    margin-top: 5%;
    width: 400px;
    height: 300px;
    border: crimson 5px solid;
}